.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: rgb(37,240,196);
    background: linear-gradient(90deg, rgba(37,240,196,1) 0%, rgba(47,185,54,1) 96%);
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
  }
  
  .footer .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fffafa;
  }
  
  .footer .social-icons {
    display: flex;
    gap: 1rem;
    color: #fffafa;
  }
  
  .footer .social-icons a {
    color: #fffafa;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .footer .copyright {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #fffafa;
  }